body{
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}

#topo{height: 120px;	
	width:950px;
}
#espacamento {
height: 15px;
width: 952px;
}

#cabecalho #topo h2,
#cabecalho #topo h1{
	text-align: center;
}

#cabecalho #topo h1{
	padding-top: 20px;
}


h1{
	font-size: 26px;
	text-align: center;
}

h2{
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
}

#cabecalho{
	width:952px;
	display: block;
}

div#busca  {
	position: relative;
	height:30px;
	width:190px;
	background-color: #ffffff;
	border-radius:20px ;
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}

div#busca img  {
	height:18px;
	width:18px;
	float:left;
	outline: none;
	margin-top:7px;
	margin-left: 6px;
}

div#cabecalho #topo{
	height:120px;
	color: #FFFFFF;
	background: #610B21 ;
	width: 100%;
	background: #000;
}

div#busca input {
	font-family: Verdana, Arial, Sans-Serif;
	border-radius:20px ;
	height: 24px;
	float:left;
	width: 140px;
	outline: none;
	background :#ffffff;
	border: none;
	margin-top: 3px;
	
}

#cabecalho button{
	background: transparent;
	border:none;
}

#menu{
	width:952px;
	display: block;
	padding: 10px 0;
	font-size: 15px;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d1d1d1 53%, #dbdbdb 78%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(53%,#d1d1d1), color-stop(78%,#dbdbdb), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

#menu a{
	font-size: 16px;	
	text-indent: 16px;
	height: 30px;
	vertical-align: middle;;
}

#menu img{
	float: left;
	height:25px;	
	width:25px;
	margin-top: 2px;
}

#conteudo{
	min-height:600px;	
	width:951px;
	display: block;
	background:#ffffff;
}

#rodape{
	min-height:70px;	
	width:950px;
	display: block;
	border:1px solid #000000;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #d1d1d1 53%, #dbdbdb 78%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(53%,#d1d1d1), color-stop(78%,#dbdbdb), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#d1d1d1 53%,#dbdbdb 78%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}


#rodape p{
	color: #DF01D7;
	text-align: center;
	margin-top: 45px;
	margin-left:126px;
}

#telefone {
	height:50px;
	width: 150px;
	float: right;
	color: #000;
}

#principal{
	display: table;
	margin: auto;
	border:1px solid #000000;
}

ul.menu-itens{background:#ffffff;display: table; margin: auto ;list-style:none;  }
ul.menu-itens li{background color:#ffffff;position:relative; float:left; border:1px solid #000000; margin: 0; width: 180px;}
ul.menu-itens li ul{position:absolute; top:31px; left:-1px; color:#000000;  display:none;background color:#ffffff; }
ul.menu-itens li ul li{border:1px solid #000000; display:table; width:180px;background color:#ffffff;}
ul.menu-itens li a{ background color:#ffffff; height:30px; display: table; vertical-align: middle; line-height:30px; padding: 0 10px; background:#ffffff; text-decoration:none; display:block;margin: 0}
ul.menu-itens li a:hover{background:#000000; color:#ffffff;  }
ul.menu-itens li:hover ul, .menu li.over ul{background color:#ffffff;display:table;}

#video{
	width:399px;
}

#video iframe{
	margin-top: 15px;
	margin-left: 15px;
}

#p {
	height:475px;
	width:510px;
	margin-left: 410px;
	color: #000000;
	margin-top:-300px;
	font-size: 16px;
}
#p2 {
	width:900px;
	margin-top:-165px;
	font-size: 16px;
	margin-left: 17px;
	color: #000000;
}

table.tablesorter{
	width:920px ;
	margin-left: 0px;
	height:150px;
	margin-bottom: 50px;
	border:1px solid #000000;
	margin-top: 15px;
	text-align: center;
}

#links{height:40px;
	width: 952px;
	background: #000;
    word-spacing: 170px;
	text-align:center;
}

#links a{
	color: #fff;
	margin-top:10px; 
}
